{% extends "./template.njk" %}

{% block contenido %}

{# NAVBAR #}
{% include "template/navbar.njk" %}
{# NAVBAR #}

{# CUADRO PARA ALQUILAR AUTO #}



{# CUADRO PARA ALQUILAR AUTO #}

{# IMAGEN DE FONDO #}
<div id="body-imagen">
  <img src={{ bodyImagen }} class="center">
</div>
{# IMAGEN DE FONDO #}

{% endblock %}
