{% extends "./layout/template.njk" %}

{% block contenido %}

{# NAVBAR #}
{% include "./layout/navbar.njk" %}
{# NAVBAR #}


{# FONDO #}
<div class="contain">
    {# CUADRO PARA ALQUILAR AUTO #}
    <div class="cuadro-opciones">

    </div>
    {# CUADRO PARA ALQUILAR AUTO #}
</div>
{# FONDO #}



{% endblock %}
