{% extends "./layout/template.njk" %}

{% block contenido %}

{# NAVBAR #}
{% include "./layout/navbar.njk" %}
{# NAVBAR #}


{# FONDO #}
<div class="contain">
    {# CUADRO PARA ALQUILAR AUTO #}
    <div class="cuadro-opciones">
        {%for car in data.car%}
        <h1>{{car.brand}}
        <img src="{{car.imageUrl}}" width="128" height="128" }}/>
        {%endfor%}
    </div>
    {# CUADRO PARA ALQUILAR AUTO #}
</div>
{# FONDO #}



{% endblock %}
