{% extends "./template.njk" %}

{% block contenido %}

{# NAVBAR #}
{% include "./layout/navbar.njk" %}
{# NAVBAR #}

{# CUADRO PARA ALQUILAR AUTO #}

{# CUADRO PARA ALQUILAR AUTO #}


{% endblock %}
